/* CategoryServices Styles */
.category-page {
    background-color: #F8F1F3;
    color: #2F534D;
    padding: 10px;
    font-weight: 300;
}

.header {
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
    border-radius: 10px;
}

.services-section {
    margin-top: 20px;
}

.services-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card {
    border: 1px solid #2F534DFF;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 300;
}

.price{
    font-weight: 500;
}

.service-card h3 {
    font-weight: 700;
}

.service-card p {
    margin: 10px 0;
}

select, button {
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #A9FEDB;
    color: #2F534D;
    font-weight: 500;
}

button:hover {
    background-color: #66cf9e;
}

/* ShoppingCart Styles */
.shopping-cart {
    background-color: #F8F1F3;
    padding: 20px;
    font-weight: 300;
}

.cart-header {
    text-align: center;
    font-weight: 500;
    background-color: #FEA9CA;
    padding: 20px;
    border-radius: 10px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.cart-item {
    background-color: #A9FEDB;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item h3 {
    font-weight: 700;
}

.remove-button {
    background-color: #2F534D;
    color: #F8F1F3;
    font-weight: 500;
}

.remove-button:hover {
    background-color: #FEA9CA;
}

.empty-message {
    text-align: center;
    font-weight: 500;
    color: #2F534D;
    margin-top: 20px;
}
